.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  .sec-1{
    overflow: hidden;
  }
  .nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    
  }
  
  .header-right-choices {
    display: flex;
    align-items: center;
    gap: 15px;
   
  }
  
  .dropdown-btn {
    display: none;
    /* position: absolute; */
    background-color: black;
    /* padding: 10px; */
  }
  
  .dropdown-ul:hover .dropdown-btn {
    display: block;
  }
  
  .header-menu1 {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 200;
  color:#111111;
   margin-top: -15px;
   margin-left: -360px;
   position: absolute;
   padding: 32px 0px ;
   text-transform: uppercase;
 
  }
  .header-menu1:hover{
    color: #f45d96;
  }

  .header-menu2 {
  text-decoration: none;
  font-family:"oswald",sans-serif;
  font-size: 24px;
  font-weight: 200;
  color:#111111;
   margin-top: -15px;
   margin-left: -13.8%;
   position: absolute;
   padding: 32px 0px ;
   text-transform: uppercase;
  }
  .header-menu2:hover{
    color: #f45d96;
  }
  .header-menu3 {
   text-decoration: none;
   font-family: "Oswald", sans-serif;
   font-size: 24px;
   font-weight: 200;
   color:#111111;
   position: absolute;
   margin-top: 15px;
   margin-left: -180px;
   text-transform: uppercase;
  }
  .header-menu3:hover{
    color: #f45d96;
  }
  .header-menu4 {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color:#111111;
    position: absolute;
    margin-top: 15px;
    margin-left: -60px;
    text-transform: uppercase;
  }
  .header-menu4:hover{
    color: #f45d96;
  }
  .header-menu{
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color:#111111;
    position: absolute;
    margin-top: 15px;
  }
  .dropdown-btn{
    margin-top: 50px;
    position: absolute;
    width: 90px;
    /* height: 20px; */
  }
  .header-menu:hover {
    color: palevioletred;
  }
  .header-menu5 {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 200;
  color:#111111;
  position: absolute;
  margin-left: 80px;
  margin-top: 15px;
  }
  .header-menu5:hover{
    color: #f45d96;
  }
  
  .header-menu6 {
  text-decoration: none;
  font-family: "oswald",sans-serif;
  font-size: 24px;
  font-weight: 200;
  color:#111111;
  position: absolute;
  margin-top: 15px;
  margin-left: 160px;
  text-transform: uppercase;
  overflow: hidden;
  } 
  .header-menu6:hover{
    color: #f45d96;
  }
  .search{
    position: absolute;
    margin-top: 15px;
    margin-left:-300px;
    overflow: hidden;
  }
  .heart{
    position: absolute;
    margin-top: 15px;
    margin-left: -260px;
  }
  .bag{
    position: absolute;
    margin-left: -200px;
    margin-top: 15px;
  }
  .spn1{
    margin-top: 15px;
    position: absolute;
    margin-left: -259px;
  }
  .spn2{
    position: absolute;
    margin-top: 15px;
    margin-left: -149px;
  }
  .spn3{
   margin-top: 15px;
   position: absolute;
   margin-left: -190px;
  }
  .logo-img {
    width: 200px;
    margin-left: 150px;
    margin-top: 20px;
    padding:  32px 0px;
    overflow: hidden;
  }
  
  .drop-btn-item {
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 100;
  }
  
.logo-image{
    width: 100%; 
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
}
.images {
    background-image:url("cart-images/breadcrumb-bg\ \(1\).jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: 200px;
    position: absolute;
    top:190px;
} 
.breadcrumb-text h2 {
    font-size: 70px;
    color: #111111;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
    position: absolute;
    margin-top: 4%;
    margin-left:41%;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Libre Baskerville", serif;
  
}
.breadcrumb-links a {
    font-size: 20px;
    color: #f45d96;
    text-transform: uppercase;
    display: inline-block;
  position: absolute;
margin-top: 8.5%;
margin-left: 46%;
word-spacing: 20px;
padding: 11px 22px ;
font-weight: 200;
font-family: "Quicksand", sans-serif;
text-decoration: none;
    
}
.table{
    margin-top: 17%;
    width: 20px;
}
.table{
    display:grid;
    grid-template-columns: auto auto auto;
    word-spacing: 80px;
    font-family: "Libre Baskerville", serif;
    position: absolute;
    margin-top: 180px;

}
.table h4{
    font-size: 34px;
    /* font-family: "Libre Baskerville", serif; */
  font-family: "Quicksand", sans-serif;
    font-weight: 400;
    padding-bottom: 35px;
}
.cart-item1{
    margin-left:40px;
    margin-top: 24%;
    position: absolute;
    max-width: 100%;
  
}
.cart-item1-text{
position: absolute;
margin-top: 24%;
margin-left: 170px;
font-size: 20px;
color: #111111;
 font-family: "Libre Baskerville", serif;
}
.remove-item{
    width: 20px;
    cursor: pointer;
   margin-top:500px;
   margin-left: 593px; 
    position: absolute;

}
.add-item{
    width: 20px;
    cursor: pointer;
    margin-top: 500px;
    position: absolute;
    margin-left: 800px;
}
.item-quantity{
position: absolute;
margin-left: 700px;
margin-top: 500px;
font-size: 24px;
}
.cart-item2{
    position: absolute;
    margin-top: 630px;
    margin-left: 30px;
}
.item2-p{
    font-size: 24px;
    font-family: " Libre Baskerville", serif;
    position: absolute;
    margin-top: 630px;
    margin-left: 170px;
    line-height: -10px ;
}
.remove-item2{
    width: 20px;
    margin-top: 650px;
    margin-left: 593px;
    cursor: pointer;
    position: absolute;
}
.add-item2{
    width: 20px;
    margin-top: 650px;
    margin-left: 800px;

}
.total-amount2 i{
    font-size: 24px;
    color: #f45d96;
    margin-left: 1200px;
    margin-top: -25px;
    position: absolute;

}
.total-amount i {
    font-size: 24px;
    color: #f45d96;
    position: absolute;
    margin-top: 503px;
    margin-left: 1200px;
}
.cart-item3-img{
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
}
.cart-item3-text p{
    font-family: " Libre Baskerville",serif;
    position: absolute;
    margin-top: 110px;
    font-size: 24px;
     margin-left: 170px;
}
.remove-item3{
    width: 20px;
    position: absolute;
    margin-top: 130px;
    margin-left: 593px;
}
.add-item3{
    width: 20px;
    margin-top: 130px;
    margin-left:800px ;
}
.total-amount3 i{

    font-size: 24px;
    color: #f45d96;
    margin-left: 1200px;
    margin-top: -28px;
    position: absolute;

}
.cart-item4-img{
    position: absolute;
    margin-top: 90px;
    margin-left: 30px;
}
.cart-item4-text{
    position: absolute;
    margin-top: 120px;
    font-size: 20px;
    color: #111111;
    font-family: "Libre Baskerville",serif ;
    margin-left: 170px;
}
.remove-item4{
    width: 20px;
    margin-top: 130px;
    margin-left: 593px;
    position: absolute;
}
.add-item4{
    position: absolute;
    width: 20px;
    margin-top: 130px;
    margin-left: 800px;
}
.total-amount4 h4{
position: absolute;
margin-top: 130px;
margin-left:1040px;

}
.total-amount4 i{
    font-size: 24px;
    color: #f45d96;
    margin-top: 130px;
    position: absolute;
    margin-left:1199px;
}

.cart-continue i {
    color: #f45d96;
    top:1270px;
    position: absolute;
    margin-left: 40px;
    width: 100px;
    font-size: 20px;
}
.cart-continue a{
    position: absolute;
    text-decoration: none;
    font-family:"Quicksand", sans-serif;
    color: #111111;
    font-weight: 700;
    font-size: 16px;
    margin-top: 249px;
    margin-left: 68px;
}
.delete i{
    color: #f45d96;
     position: absolute;
     margin-top: 249px;
     margin-left: 650px;
     font-size: 20px;
 }
 .delete a{
    position: absolute;
    text-decoration: none;
    font-family:"Quicksand", sans-serif;
    color: #111111;
    font-weight: 700;
    font-size: 16px;
    margin-top: 249px;
    margin-left: 680px;
 }
 .update-cart i{
    color: #f45d96;
    position: absolute;
    margin-top: 249px;
    margin-left: 1090px;
 }
 .update-cart a{
    position: absolute;
    text-decoration: none;
    font-family:"Quicksand", sans-serif;
    color: #111111;
    font-weight: 700;
    font-size: 16px;
    margin-top: 249px;
    margin-left: 1120px;
 }

  
  .image1{
    position: relative;
    margin-left: 10px;
    margin-top: 200px;

 }
 .button1{
    position: absolute;
    margin-top: 341px;
    margin-left: -349px;
    width: 325px;
    height: 130px;
    background-color: white;
    border:none ;
    padding: 20px 75px 16px;
    opacity: 0;
  }

 .button1 i{
    color: #f45d96;
    font-size: 35px;
    position: absolute;
    margin-top: 4px;
    margin-left: -10px;
    
 }
 .button1:hover{
    opacity: 1;
    transition:all,0.5s;

 }
 
 .button1 p{
    font-family:"Quicksand", sans-serif;
    font-weight: 500;
    margin-top: 26px;
    font-size: 20px;
 }

 .image2{
    position:relative;
    margin-top: 201px;
    margin-left: 5px;

 }
 .button2{
    position: absolute;
    margin-top: 340px;
    margin-left: -349px;
    width: 325px;
    height: 130px;
    background-color: white;
    border:none ;
    padding: 20px 75px 16px;
    opacity: 0;
 }
 .button2 i{
    color: #f45d96;
    font-size: 35px;
    position: absolute;
    margin-top: 1px;
    margin-left: -10px;
     
 }  
   .button2:hover{
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
 } 
  .button2 p{
    font-family:"Quicksand", sans-serif;
    font-weight: 500;
    margin-top: 26px;
    font-size: 20px;
 }
 .flower-images{
    display:flex;
    justify-content: space-around;
    gap: 10px;
    overflow: hidden;
 }
 .image3{
    margin-top: 200px;
 }
 .image4{
    margin-top: 200px;
 }
 .image5{
    margin-top: 200px;
 } 
 

.cart-coupon{
    background-color: #f7f5fa;
    padding: 30px;
    margin-bottom:50px ;
    position: absolute;
    margin-left: 1319px;
    margin-top: -1280px;
    width: 530px;
    height: 180px;
}
.cart-coupon p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 12px;
    font-family: "Quicksand",sans-serif;
    color: #444444;
    line-height: 27px;
    font-weight: 400;
}
.cart-coupon form input{
    height: 46px;
    width: 75%;
    margin: 10px;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    padding-left: 20px;
}
.cart-coupon form button{
    color: #ffff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #111111;
    border: none;
    position: absolute;
    height: 43px;
    padding: 0px 30px;
    margin-top: 10px;
    margin-left: -11px;
    font-family: inherit;

}
.cart-total{
    background-color: #f7f5fa;
    padding: 30px;   
    line-height: 1.5;
    width: 530px;
    height: 300px;
    position: absolute;
    margin-left: 1319px;
    margin-top: -1000px;

}
.cart-total h4{
    color: #111111;
    margin-bottom: 36px;
    font-size: 34px;
    font-weight: 400;
    text-transform: capitalize;
      font-family: "Libre Baskerville",serif;
      text-align: left;
      margin-left: 10px;
}
.cart-total ul li{
    list-style-type: none;
    font-size: 20px;
    color: #888888;
    line-height: 36px;
    overflow:hidden;
    text-align: left;
    margin-left: -10px;
    font-family: "Quicksand",sans-serif;
}
.cart-total ul li span {
    font-weight: 700;
    color: #111111;
    float: right;
}
.cart-total ul :last-child span{
    color:#f45d96;
}
.cart-total a{
    display: block;
     text-decoration: none;
     color: #ffff;
    background-color: #111111;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 14px 20px 12px ;
    text-align: center;
}

.footer-part1{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 60px;
}
.florist-para{
    font-size: 20px;
    font-family: "Quicksand",sans-serif;
}
.social-media-logo{
    display: flex;
    gap:20px;
    overflow: hidden;
}
.flex-container {
    display: flex;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #eaeaea;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    width: 200%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-item-dad {
    display: flex;
    gap:20px;
    border-right:none;
    
  }
  
  .flex-item {
    border-left: none;
    border:1px solid #eaeaea;
    border-top:none;
    border-bottom:none;
   
  }
  
  .flex-item1 ul li {
    list-style-type: none;
    margin-right: 20px;
    }
    
    .flex-item2 ul li{
    list-style-type:none;
    }
  
  .flex-item4 {
    border-right: none; 
  }
  .flex-item1{
    /* position: absolute; */
    /* left: 190px;
    top:1970px */
    margin-left: 100px;
    margin-top: 26px;
  }
  .flex-item1 h4{
    font-family: "Libre Baskerville",serif;
    font-weight: 400;
    padding-top: 25px;
    font-size: 26px;
    
  }
  .flex-item1 ul li a {
    font-size: 16px;
    line-height: 36px;
    margin-top: 60px;
    font-family: "Quicksand",sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color:#444444;
  }
.flex-item2{
    /* left: 400px;
    top: 1970px; */
    /* position: absolute; */
    margin-left: 100px;
    margin-top: 26px;
}
.flex-item2 h4{
    font-family: "Libre Baskerville",serif;
    font-weight: 400;
    padding-top:25px ;
    font-size: 28px;
}
.flex-item2  a {
    font-size: 16px;
    /* position: absolute; */
    line-height:20px;
    margin-top: 50px;
    font-family: "Quicksand",serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color:#444444;
  }
  .flex-item h4{
    font-family: "Libre Baskerville",serif;
    font-weight: 400;
    padding-top:50px ;
    font-size: 28px;
    margin-left: 135px;
    position: absolute;

  }
  .flex-item p{
    font-size: 20px ;
    font-family: "Quicksand",sans-serif;
    font-weight: 400;
    margin-top: 125px;
    line-height:normal;
    margin-left: 135px;
    position: absolute;
  }

  .flex-item form input { 
    font-size: 18px;
    color: #888888;
    height: 35px;
    width: 60%;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 229px; 
    margin-left: 13px; 
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 20px;
    font-family: "Quicksand", sans-serif;
  }
  
  .flex-item form button {
    font-size: 18px;
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: transparent;
    position: absolute;
    margin-top: 210px; 
    margin-left: -120px; 
  }
.flex-item4 h4{
font-family: "Libre Baskerville",serif;
    font-weight: 400;
    padding-top:50px ;
    font-size: 28px;
    margin-left: 120px;
    position: absolute;
}
.flex-item4 p{
    font-size: 18px;
    margin-top: 10px;
    line-height:36px;
    font-family: "Quicksand",sans-serif;
    list-style-type: none;
 
}
.copy-right-div p {
    font-size:18px;
    font-family: "Quicksand",sans-serif;
    font-weight: 400;
    color: #444444;
    text-align: center;
    padding-top: 23px;
}
.copy-right-div .myname {
  margin-left:65%;
  position: absolute;
}
.copy-right-div i {
    color: #f45d96;

}
.line {
  margin-top: 260px;
  width: 1250px;
  margin-left: 30px;
}
.line2{
  margin-top: 1080px; 
  width: 1250px;
   margin-left: 30px;
    position: absolute;
}
.total-amount h4{
  position: absolute;
  margin-top:500px ;
  margin-left:1040px ;
 
}
.item-quantity2{
  margin-left: 700px;
   margin-top:-20px ;
}
.total-amount2 h4{
  position: absolute; 
  margin-left: 1040px; 
  margin-top: -35px;
}
.line3{
  top:760px; 
  width: 1250px; 
  margin-left: 30px;
   position: absolute;
}
.line4{
top:914px; 
width: 1250px; 
margin-left: 30px; 
position: absolute;
}
.line5{
  top:1070px; 
  width: 1250px; 
  margin-left: 30px;
   position: absolute;
}
.item-quantity3{
  margin-left: 700px;
   margin-top:-20px;
}
.total-amount3 h4 {
  margin-left: 1040px;
   margin-top: -35px;
   position: absolute;
}
.item-quantity4{
  position: absolute;
   margin-top: 130px; 
   margin-left: 700px;
}
.flex-item4 p {
  list-style-type: none;
  font-size: 20px;
  font-family: "Quicksand",serif;
  margin-top: 125px;
  margin-left: -102px;
  font-weight: 400;
  line-height: 46px;
}
.myname{
color: #f45d96;
 position: absolute; 
 margin-left: 300px; 
 margin-top: -40px;
}
.dropdown-btn{
  width: 70px;
  height: 30px;
}

@media screen and (max-width:768px) {
  .images{
    margin-top: -30px;
    width: 100%;
   
  }
  .nav-menu{
    margin-top: -72px;

  }
  .breadcrumb-text h2{
    font-size: 39px;
    margin-left: 59px;
    margin-top: 104px;
  }
  .breadcrumb-button{
    margin-top: 130px;
        margin-left: -15px;
  }
  .breadcrumb-links{
    margin-top: 155px;
    margin-left: 86px;
    position: absolute;
  }
  .logo-img{
    width: 44%;
    margin-top: -13px;
  }
  .header-menu1{
    margin-left: -1px;
    font-size: 13px;
    margin-top: -5px;
  }
  .header-menu2{
    margin-left: 26px;
    font-size: 13px;
    margin-top: -5px;
  }
  .header-menu{
    font-size: 13px;
    margin-top: 24PX;
    margin-left: 108px;
  }
  .header-menu3{
    margin-left: 53px;
    font-size: 13px;
    margin-top: 26px;
  }
  .header-menu4{
    margin-left: 94px;
    font-size: 13px;
    margin-top: 25px;
  }
  .breadcrumb{
  height: 10px;

  }
  .header-menu5{
    margin-left: 145px;
    font-size: 13px;
    margin-top: 25PX;
  }
  .header-menu6{
    margin-left: 174px;
    font-size: 13px;
    margin-top: 25px;
  }
  .cart-item1{
    margin-top: 439px;
    width: 58px;
    margin-left: 7px;
  }
  .cart-item1-text{
    margin-top: 128%;
    margin-left: 4px;
    font-size: 12px;
  }
  .table h4{
    font-size: 16px;
    position: absolute;
    display: contents;
 
    
  } 
  .line {
    width: 296%;
    margin-left: 0%;
    margin-top: 243px;
}
.remove-item{
  margin-left: 127px;
  width: 16px;
  margin-top: 468px;
}
.add-item{
  margin-left: 204px;
  width: 16px;
  margin-top: 468px;
}
.item-quantity{
  margin-left: 171px;
  font-size: 16px;
  margin-top: 468px;
}
.total-amount h4 {
  margin-left: 285px;
  margin-top: 467px;
  font-size: 16px;
}
.total-amount i {
  margin-top: 470px;
  margin-left: 347px;
  font-size: 16px;
}
.line2{
  width: 100%;
  margin-left: 0%;
  margin-top: 549px;
  position: absolute;
}
.cart-item2{
  width: 61px;
  margin-top: 566px;
  margin-left: 7px;
}
.item2-p {
  font-size: 14px;
  margin-left: 7px;
}
.remove-item2{
  width: 16px;
  margin-top: 585px;
  margin-left: 125px;
}
.add-item2{
  margin-left: 208px;
  margin-top: 585px;
  width: 16px;
}
.item-quantity2{
  margin-left: 171px;
  font-size: 16px;
}
.total-amount2 h4{
  margin-left: 285px;
  margin-top: -24px;
  font-size: 16px;
}
.total-amount2 i{
  margin-top: -21px;
  margin-left: 347px;
  font-size: 16px;
}
.line3{
  width: 100%;
  margin-left: 0%;
  margin-top: 42px;

}
.cart-item3-img{
  width: 64px;
  margin-left: 7px;
  margin-top: 85px;
}
.cart-item3-text p{
 margin-left: 7px;
 font-size: 14px;
 margin-top: 155px;
}
.remove-item3{
  width: 16px;
  margin-left: 125px;
  margin-top: 114px;
}
.add-item3{
  margin-left: 208px;
        margin-top: 114px;
        width: 16px;

}
.item-quantity3{
  margin-left: 172px;
  font-size: 16px;
}
.total-amount3 h4{ 
  font-size: 16px;
  margin-left: 285px;
  margin-top: -27px;

}
.total-amount3 i{
  margin-left: 347px;
  font-size: 16px;
  margin-top: -23px;
}
.line4{
  margin-left: 0;
        width: 100%;
        margin-top: 23px;
}
.cart-item4-img{
  width: 66px;
  margin-left: 7px;
  margin-top: 82px;
}
.cart-item4-text{
  font-size: 12px;
  margin-left: 6px;
  margin-top: 156px;
}
.remove-item4{
  width: 16px;
  margin-left: 125px;
  margin-top: 115px;

}
.add-item4{
  margin-top: 115px;
  margin-left: 208px;
  width: 16px;
}
.item-quantity4 {
  margin-left: 172px;
  font-size: 16px;
  margin-top: 111px;

}
.total-amount4 h4{
  margin-left: 284px;
  margin-top: 111px;
  font-size: 16px;
}
.total-amount4 i {
  margin-left: 347px;
  font-size: 16px;
  margin-top: 116px;
}
.line5{
  margin-left: 0;
  width: 100%;
  margin-top: -2PX;
}
.cart-continue i{
  margin-left: 13px;
  margin-top: -182px;
  font-size: 16px;
}
.cart-continue a{
  font-size: 9px;
  margin-top: 220px;
  margin-left: 33px;
}
.delete i {
  font-size: 16px;
  margin-left: 136px;
  margin-top: 217px;
}
.delete a{
  margin-left: 155px;
  font-size: 9px;
  margin-top: 218px
}
.update-cart i {
  font-size: 16px;
  margin-left: 269px;
  margin-top: 217px;
}
.update-cart a {
  margin-left: 294px;
  font-size: 9px;
  margin-top: 218px
}
.search{

  width: 9px;
}
.bag{
  margin-top: -79px;
  width: 11.5px;
  margin-left: -365px;
}

.heart{
  margin-top: -77px;
  width: 13px;
  margin-left: -34px;
}
.spn1{
  margin-top: -77px;
  font-size: 8px;
  margin-left: -46px;
}
.spn3{
  margin-left: -361px;
  margin-top: -78px;
  font-size: 8px;
}
.spn2{
  margin-top: -80px;
  font-size: 11px;
  margin-left: -341px;
  font-weight: 700;
}

.flower-images{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.image1{
  margin-top: 141px;
  margin-left: 33px;
  width: 248px;
}
.image2{
  width: 248px;
  margin-top: -105px;
  margin-left: 33px;
}
.image3{
  width: 248px;
  margin-top: -105px;
  margin-left: 33px;
}

.image4{
  margin-top: -104px;
  margin-left: 33px;
}
.image5{
  margin-top: -110px;
  margin-left: 33px;
} 
.footer-part1{
  margin-top: 676px;
  display: flex;
  flex-direction: column;
  gap: 44px

}
.footer{
}
.cart-coupon{
  margin-left: 0;
  width: 100%;
  margin-top: 49px;
}
.cart-total{
  width: 103%;
  margin-left: 0;
  margin-top: 279px;
}
.florist-para{
  text-align: center;
  font-size: 17px;
}
.social-media-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 58px;
  padding-bottom: 43px;
  border-bottom: 1px solid lightgrey;
}
.footer-part1 img{
  margin-left: 123px;
  margin-top: -47px;
}
.flex-container{
  display: flex;
  flex-direction: column;
  margin-top: 219px;
}
.flex-item1 h4 {
  margin-top: 510px;
  margin-left: -71px;
}
.flex-item1  ul{
  margin-left: -50px;
  margin-top: -3px;
}
.flex-item2  {

  margin-top: 510px;
        margin-left: 219px;
        position: absolute;

}
.flex-item h4{
  margin-left: 23px;
  margin-top: -40px;
}
.flex-item{
  border-left: none;
  padding-bottom: 22px;
}
.flex-item form input {
  margin-left: -419px;
  margin-top: 188px;
  width: 42%;
}
.flex-item form button{
  font-size: 14px;
  margin-top: 170px;
  margin-left: -120px;
}
.flex-item p {
  margin-left: 20px;
  margin-top: 82px;
  font-size: 18px;
}
.flex-container{
 margin-bottom: 65px; 
}
.flex-item4 h4{
  margin-left: 20px;
  margin-top: -39px;
}
.flex-item4 p{

  margin-left: -441px;
  line-height: 36px;
  margin-top: 71px;
  margin-bottom: 39px;
  font-size: 16px;
}
.copy-right-div p {
  margin-top: -19%;
        position: absolute;
        font-size: 17px;

}
.copy-right-div .myname{
  margin-left: 168px;
  font-size: 17px;
  margin-top: -1%;
}
.button1{
  opacity: 0;
  margin-left: -244px;
  margin-top: 235px;
  width: 62%;
  height: 69px;
}
.button1 i{
  font-size: 16px;
  margin-top: -5px;
  margin-left: -6px;
}
.button1 p{
  font-size: 15px;
  margin-top: -14px;
  line-height: 16px;
}
.button1:hover{
  opacity: 1;
}
.image1 button {
  opacity: 0;
  margin-left: 46px;
  margin-top: -157px;
  width: 89%;
}
.image1 button:hover{
  opacity: 1;
}
.image2 button{
          opacity: 0;
          position: absolute;
          top: -99px;
          width: 89%;
          height: 80px;
          margin-left: 46px;
}
.image2 i {
  font-size: 18px;
  margin-top: -4px;
  margin-left: -3px;
}
.image2 p {
  font-size: 16px;
  margin-top: -9px;
  line-height: 16px;
}
.image2 button:hover{
  opacity: 1;
}
.image3 button{
  opacity: 0;
  margin-left: 50px;
  margin-top: -153px;
  width: 56%;
}
.image3 button:hover{
  opacity: 1;
}
.drop-btn-item{
  margin-top: -54px;
  position: absolute;
  background-color: black;
  margin-left: 216px;
}
.image4 button {
  /* width: 217px; */
  width: 56%;
  margin-left: -233px;
}
.image5 button{
  width: 56%;
  margin-left: -231px;
}
}
@media only screen and (max-width: 430px)   {

     .search{
    margin-left: 24px;
    margin-top: -74px;
    position: absolute;
  } 
 .cart-item1-text{
    margin-top: 502px;
}
  
  .total-amount i{
    margin-left: 392px;
  }
  .total-amount2 i {
    margin-left: 392px;
  }
  .total-amount3 i {
   margin-left: 392px;
  }
  .total-amount4 i{
   margin-left: 392px ;
  }
  .update-cart a{
    margin-left: 336px;
    font-size: 11px;
  }
  .update-cart i {
    margin-left: 309px;
  }
  .delete a {
    font-size: 11px;
        margin-left: 173px;
  }
  .delete i{
    margin-left: 150px;
  }
  .cart-continue a{
    font-size: 11px;
    margin-left: 24px;
    margin-top: 217px;
  }
  .cart-continue i{
    margin-left: 2px;
  }
  .flex-item1{
    margin-top: -767px;
  }
  .flex-item2 h4 
  {
   margin-top: -767px;
  } 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .cart-item1{
    margin-top: 29%;
  }
  .cart-item1-text{
    margin-top: 30%;
  }
  .remove-item{
    margin-left: 29%;
  }
  .remove-item2{
    margin-left: 29%;
  }
  .remove-item3{
    margin-left: 29%;
  }
  .remove-item4{
    margin-left:29% ;
  }
  .item-quantity{
    margin-left: 34%;
    margin-top: 30%;
  }
  .item-quantity2{
    margin-left: 34%;
  }
  .item-quantity3{
    margin-left: 34%;
  }
  .item-quantity4{
    margin-left: 34%;
  }
  .add-item{
    margin-left: 39%;
  }
  .add-item2{
    margin-left: 39%;
  }
  .add-item3{
    margin-left: 39%;
  }
  .add-item4{
    margin-left: 39%;
  }
  .total-amount h4{
    margin-left: 51%;
  }
  .total-amount2 h4 {
    margin-left: 51%;
  }
  .total-amount3 h4 {
    margin-left: 51%;
  }
  .total-amount4 h4 {
    margin-left: 51%;
  }
  .total-amount i {
    margin-left: 62%;
    margin-top: 31%
  }
  .total-amount2 i {
    margin-left: 62%;
  }
  .total-amount3 i {
    margin-left: 62%;
  }
  .total-amount4 i {
    margin-left: 62%;
  }
  .cart-coupon{
    position: absolute;
    margin-left: 68%;
    margin-top: -139%;
    height: 205px;
  }
  .cart-total{
    position: absolute;
    margin-left: 68%;
    margin-top: -119%;
    height: 321px;
  }
  .flower-images{
    display: grid;
    grid-template-columns: auto auto  ;
    justify-content: space-around;
    gap:22px;

  }.image3{
    margin-top: -70px;

  }
  .image4{
  margin-top: -70px;
  }
  .image5{
    margin-top: -21%;
  }
  .nav-menu{
    margin-left: -269px;
  }
  .header-menu2{
    margin-left: -283px;
  }
  .spn2{
    margin-left: -93px;
  }
  .spn3{
    margin-left: -143px;
  }
  .bag{
    margin-left: -157px;
  }
  .spn1{
    margin-left: -237px;
  }
  .heart{
    margin-left: -243px;
  }
}