.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  .sec-1{
    overflow: hidden;
  }
  .nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    
  }
  
  .header-right-choices {
    display: flex;
    align-items: center;
    gap: 15px;
   
  }
  
  .dropdown-btn {
    display: none;
    /* position: absolute; */
    background-color: black;
    /* padding: 10px; */
  }
  
  .dropdown-ul:hover .dropdown-btn {
    display: block;
  }
  
  .header-menu1 {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  font-weight: 200;
  color:#111111;
   margin-top: -15px;
   margin-left: -360px;
   position: absolute;
   padding: 32px 0px ;
   text-transform: uppercase;
 
  }
  .header-menu1:hover{
    color: #f45d96;
  }

  .header-menu2 {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  font-weight: 200;
  color:#111111;
   margin-top: -15px;
   margin-left: -13.8%;
   position: absolute;
   padding: 32px 0px ;
   text-transform: uppercase;
  }
  .header-menu2:hover{
    color: #f45d96;
  }
  .header-menu3 {
   text-decoration: none;
   font-family: "Oswald", sans-serif;
   font-size: 26px;
   font-weight: 200;
   color:#111111;
   position: absolute;
   margin-top: 15px;
   margin-left: -180px;
   text-transform: uppercase;
  }
  .header-menu3:hover{
    color: #f45d96;
  }
  .header-menu4 {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    font-weight: 200;
    color:#111111;
    position: absolute;
    margin-top: 15px;
    margin-left: -60px;
    text-transform: uppercase;
  }
  .header-menu4:hover{
    color: #f45d96;
  }
  .header-menu{
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    font-weight: 200;
    color:#111111;
    position: absolute;
    margin-top: 15px;
  }
  .dropdown-btn{
    margin-top: 50px;
    position: absolute;
    width: 90px;
    /* height: 20px; */
  }
  .header-menu:hover {
    color: palevioletred;
  }
  .header-menu5 {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  font-weight: 200;
  color:#111111;
  position: absolute;
  margin-left: 80px;
  margin-top: 15px;
  }
  .header-menu5:hover{
    color: #f45d96;
  }
  
  .header-menu6 {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  font-weight: 200;
  color:#111111;
  position: absolute;
  margin-top: 15px;
  margin-left: 160px;
  text-transform: uppercase;
  overflow: hidden;
  } 
  .header-menu6:hover{
    color: #f45d96;
  }
  .search{
    position: absolute;
    margin-top: 15px;
    margin-left:-300px;
    overflow: hidden;
  }
  .heart{
    position: absolute;
    margin-top: 15px;
    margin-left: -260px;
  }
  .bag{
    position: absolute;
    margin-left: -200px;
    margin-top: 15px;
  }
  .spn1{
    margin-top: 15px;
    position: absolute;
    margin-left: -259px;
  }
  .spn2{
    position: absolute;
    margin-top: 15px;
    margin-left: -149px;
  }
  .spn3{
   margin-top: 15px;
   position: absolute;
   margin-left: -190px;
  }
  .logo-img {
    width: 200px;
    margin-left: 150px;
    margin-top: 20px;
    padding:  32px 0px;
    overflow: hidden;
  }
  
  .drop-btn-item {
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 100;
  }
  














.logo-image{
    width: 100%; 
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
}
.images {
    background-image:url("cart-images/breadcrumb-bg\ \(1\).jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: 200px;
    position: absolute;
    top:190px;
} 
.breadcrumb-text h2 {
    font-size: 70px;
    color: #111111;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
    position: absolute;
    margin-top: 4%;
    margin-left:41%;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Libre Baskerville", serif;
  
}
.breadcrumb-links a {
    font-size: 20px;
    color: #f45d96;
    text-transform: uppercase;
    display: inline-block;
  position: absolute;
margin-top: 8.5%;
margin-left: 46%;
word-spacing: 20px;
padding: 11px 22px ;
font-weight: 200;
font-family: "Quicksand", sans-serif;
text-decoration: none;
    
}
.table{
    margin-top: 17%;
    width: 20px;
}
.table{
    display:grid;
    grid-template-columns: auto auto auto;
    word-spacing: 80px;
    font-family: "Libre Baskerville", serif;
    position: absolute;
    margin-top: 180px;

}
.table h4{
    font-size: 34px;
    /* font-family: "Libre Baskerville", serif; */
  font-family: "Quicksand", sans-serif;
    font-weight: 400;
    padding-bottom: 35px;
}
.cart-item1{
    margin-left:40px;
    margin-top: 24%;
    position: absolute;
    max-width: 100%;
  
}
.cart-item1-text{
position: absolute;
margin-top: 24%;
margin-left: 170px;
font-size: 20px;
color: #111111;
 font-family: "Libre Baskerville", serif;
}
.remove-item{
    width: 20px;
    cursor: pointer;
   margin-top:500px;
   margin-left: 593px; 
    position: absolute;

}
.add-item{
    width: 20px;
    cursor: pointer;
    margin-top: 500px;
    position: absolute;
    margin-left: 800px;
}
.item-quantity{
position: absolute;
margin-left: 700px;
margin-top: 500px;
}
.cart-item2{
    position: absolute;
    margin-top: 630px;
    margin-left: 30px;
}
.item2-p{
    font-size: 24px;
    font-family: " Libre Baskerville", serif;
    position: absolute;
    margin-top: 630px;
    margin-left: 170px;
    line-height: -10px ;
}
.remove-item2{
    width: 20px;
    margin-top: 650px;
    margin-left: 593px;
    cursor: pointer;
    position: absolute;
}
.add-item2{
    width: 20px;
    margin-top: 650px;
    margin-left: 800px;

}
.total-amount2 i{
    font-size: 24px;
    color: #f45d96;
    margin-left: 1200px;
    margin-top: -25px;
    position: absolute;

}
.total-amount i {
    font-size: 24px;
    color: #f45d96;
    position: absolute;
    margin-top: 503px;
    margin-left: 1200px;
}
.cart-item3-img{
    position: absolute;
    margin-top: 100px;
    margin-left: 30px;
}
.cart-item3-text p{
    font-family: " Libre Baskerville",serif;
    position: absolute;
    margin-top: 110px;
    font-size: 24px;
     margin-left: 170px;
}
.remove-item3{
    width: 20px;
    position: absolute;
    margin-top: 130px;
    margin-left: 593px;
}
.add-item3{
    width: 20px;
    margin-top: 130px;
    margin-left:800px ;
}
.total-amount3 i{

    font-size: 24px;
    color: #f45d96;
    margin-left: 1200px;
    margin-top: -35px;
    position: absolute;

}
.cart-item4-img{
    position: absolute;
    margin-top: 90px;
    margin-left: 30px;
}
.cart-item4-text{
    position: absolute;
    margin-top: 120px;
    font-size: 20px;
    color: #111111;
    font-family: "Libre Baskerville",serif ;
    margin-left: 170px;
}
.remove-item4{
    width: 20px;
    margin-top: 130px;
    margin-left: 593px;
    position: absolute;
}
.add-item4{
    position: absolute;
    width: 20px;
    margin-top: 130px;
    margin-left: 800px;
}
.total-amount4 h4{
position: absolute;
margin-top: 130px;
margin-left:1040px;

}
.total-amount4 i{
    font-size: 24px;
    color: #f45d96;
    margin-top: 130px;
    position: absolute;
    margin-left:1199px;
}

.cart-continue i {
    color: #f45d96;
    top:1270px;
    position: absolute;
    margin-left: 40px;
    width: 100px;
    font-size: 20px;
}
.cart-continue a{
    position: absolute;
    text-decoration: none;
    font-family:"Quicksand", sans-serif;
    color: #111111;
    font-weight: 700;
    font-size: 16px;
    margin-top: 249px;
    margin-left: 68px;
}
.delete i{
    color: #f45d96;
     position: absolute;
     margin-top: 249px;
     margin-left: 650px;
     font-size: 20px;
 }
 .delete a{
    position: absolute;
    text-decoration: none;
    font-family:"Quicksand", sans-serif;
    color: #111111;
    font-weight: 700;
    font-size: 16px;
    margin-top: 249px;
    margin-left: 680px;
 }
 .update-cart i{
    color: #f45d96;
    position: absolute;
    margin-top: 249px;
    margin-left: 1090px;
 }
 .update-cart a{
    position: absolute;
    text-decoration: none;
    font-family:"Quicksand", sans-serif;
    color: #111111;
    font-weight: 700;
    font-size: 16px;
    margin-top: 249px;
    margin-left: 1120px;
 }
 .image1{
    position: relative;
    margin-left: 10px;
    margin-top: 200px;
 }
 .button1{
    position: absolute;
    margin-top: 341px;
    margin-left: -349px;
    width: 325px;
    height: 130px;
    background-color: white;
    border:none ;
    padding: 20px 75px 16px;
    opacity: 0;
 }
 .button1 i{
    color: #f45d96;
    font-size: 35px;
    position: absolute;
    margin-top: 4px;
    margin-left: -10px;
    
 }
 .button1:hover{
    opacity: 1;
    transition:all,0.5s;
 }
 .button1 p{
    font-family:"Quicksand", sans-serif;
    font-weight: 500;
    margin-top: 26px;
    font-size: 20px;
 }



 .image2{
    position:relative;
    margin-top: 201px;
    margin-left: 5px;

 }
 .button2{
    position: absolute;
    margin-top: 340px;
    margin-left: -349px;
    width: 325px;
    height: 130px;
    background-color: white;
    border:none ;
    padding: 20px 75px 16px;
    opacity: 0;
 }
 .button2 i{
    color: #f45d96;
    font-size: 35px;
    position: absolute;
    margin-top: 1px;
    margin-left: -10px;
    
 } 
  .button2:hover{
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
 }
 .button2 p{
    font-family:"Quicksand", sans-serif;
    font-weight: 500;
    margin-top: 26px;
    font-size: 20px;
 }
 .flower-images{
    display:flex;
    justify-content: space-around;
    gap: 10px;
    overflow: hidden;
 }
 .image3{
    margin-top: 200px;
 }
 .image4{
    margin-top: 200px;
 }
 .image5{
    margin-top: 200px;
 }

