.body{
    font-family: "Libre Baskerville", serif;
}
.navbar
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 17px;
    list-style: none;
    margin-top: -34PX ;
    margin-left: 316px;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: black;
}

.header-right-choices
{
    display: flex;
    
}
.dropdown-btn
{
    visibility: hidden ;
    cursor:pointer;
    background-color: black;
    width: 60px;
    height: 60px; 
}
.header-menu
{
 border: none;
 background-color: white;

}
.header-menu:hover
{
    color: palevioletred;
}
.logo-img
{
    width: 140px;
}

.drop-btn-item 
{
  
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.dropdown-ul:hover .dropdown-btn
{
  visibility: visible ;
  cursor: pointer;
}

.element.style{
    background-image: url(
        checkout.img/breadcrumb-bg.jpg.webp
    );
}
.breadcrumb-option{
    padding: 52px 0 60px;
}
.breadcrumb__links span { 
    font-size: 16px ;
    color: #99898d;
    text-transform: uppercase;
    display: inline-block;

}
.set-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: -35px;
}
.checkout__form__top h4 {
    font-size: 20px;
    color: black;
}
h2{
    font-family: "Cormorant Garamond", serif;;
    font-weight: 600;
    font-size: 52px;
}
h4{
    font-family: "Libre Baskerville", serif;
    font-size: 28px;
    font-weight: 500;
    margin-top: 61px;
    margin-right: 999px;
}
h6{
    font-size: 17px;
    font-family: "Libre Baskerville", serif;
    font-weight:500;
    margin-left: 707px;
    margin-top: -34px;
}
a{
    color: #f68b99;
}
.checkout__form form .input__top{
    height: 46px;
    width: 100px;
    padding-left: 20px;
    font-size: 16px;
    color: #99898d;
    border: 1 px solid white;
    margin-bottom: 15px;
    color: #b4b6b5;
}
.checkout__form form label{
    position: relative;
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding-left: 30px;
    margin-bottom: 01;
    margin-right: 28px;
}
label {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 1px;
    margin-top: 16px;
    color: #b4b6b5;
}
.checkout address h4{
    font-family:  "Libre Baskerville", serif;
    font-size: 26px;
    color: black;
    margin-top: 61;
    margin-bottom: 24px;
}

p{
    font-size: 16px;
    font-family:"Libre Baskerville", serif;
    color: black;
    font-weight: 400;
    margin-top: 12px;
}
.checkout__address .input__item input {
    color: #888888;
    padding-left: 20px;
}
.checkout__address .input__item p{
    color: black;
}
.checkout__proceed{
    padding : 30px;
    color: grey;

}
.checkout__proceed .checkout__proceed__title h4 {
    color: #111111;
    margin-bottom: 38PX;
    display: inline-block;
    background-color: #f7f5fa;
    padding: 0 15px 0 0;;
    position: relative;
}
.checkout__proceed {
    position: absolute;
    margin-left: 888px;
    margin-right: -1010px;
    margin-top: -948px;
    background-color: #f7f5fa;
    border-style: double;
    border: 3px solid #f7f5fa;
    padding: 35px;
    width: 563px;
    height: 622px;
}
.element.style{
    background-image: url(checkout.img/insta-1.jpg.webp);
    background-image: url(checkout.img/insta-2.jpg.webp);
    background-image: url(checkout.img/insta-3.jpg.webp);
    background-image: url(checkout.img/insta-4.jpg.webp);
    background-image: url(checkout.img/insta-5.jpg.webp);
}
.instagram__post{
    margin-left: -304px;;
    margin-right:-317px;
    margin-top: 74px;

}
.instagram__post__item{
    height: 372px;
    display: flex;
    webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: calc(20% - 10px);
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.footer__top__text p {}




.set-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    box-sizing: border-box;
}
.footer__copyright p i {
    color: #f45d96;
}
.fa{
    isplay: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
