body
{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 200;
}
.dropdown
{
    list-style-type: none;
}


.navbar
{
    
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 60px;
    list-style: none;
    /* display: flex; */
    
}


.header-right-choices
{
    display: flex;
    
}
.dropdown-btn
{
    visibility: hidden ;
    cursor:pointer;
    background-color: black;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    
    
}

.dropdown-item
{
  /* display: none; */
  color: white;
  text-decoration: none;
}
.dropdown-ul:hover .dropdown-btn
{
  visibility: visible ;
  cursor: pointer;
}
