body{
    background-color: white;
}
#navbar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: black;
    font-family: "Oswald", sans-serif;
    height: 282px;
}
.navbar-left {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 950px;
}
.navbar-left img{
    height: 118px;
}
.navbar-right {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 130px;
    margin-right: 1301px;
    text-transform: capitalize;
}
.nav-button button{
    border: none;
    background-color: transparent;
    font-size: 49px;
}
.nav-button button:hover{
    color: #f45d96;
}
.icon-button{
    display: flex;
}
.icon-button button{
    gap: 90px;
    border: none;
    background-color: transparent;
}
.bag-image{
    height: 80px;
    margin-left: 30px;
}
.icon{
    font-size: 82px;
    margin-top: 4px;
}
.icon-button button:hover{
    color: black;
}
#likes{
    position: absolute;
    font-size: 40px;
    margin-top: 17px;
    margin-left: 30px;
    cursor: text;
    opacity: 0.7;
}
#bag-text{
    position: absolute;
    font-size: 40px;
    margin-top: 15px;
    margin-left: 130px;
    cursor: text;
    opacity: 0.7;
}
#cart-cost{
    color: #ff0062;
    font-weight: 799;
}
.header-background{
    background-image: url('product-img/breadcrumb-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 590px;
}
h1{
    position: absolute;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 177px !important;
    margin-top: 88px !important;
    margin-left: 2840px;
}
h2{
    position: absolute;
    font-family: "Quiksand", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 49px !important;
    margin-top: 299px !important;
    margin-left:  2915px;
    letter-spacing: 5px;
}
h2 button{
    color: palevioletred;
    font-family: "Quiksand", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 49px;
    border: transparent;
    text-decoration: underline;
    cursor: pointer;
}
#navbar2{
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
}
#nav-link-text{
    position: absolute;
    margin-top: 16px !important;
    margin-left: 40px;
}
.fa-bars{
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 26px;
    font-size: 50px;
}
.dropdown-toggle{
    position: absolute !important;
    margin-left: 3301px !important;
    margin-top: 12px !important;
    border: 1px solid #88888881 !important;
    color: #888888b6 !important;
    padding: 15px 156px !important;
    text-align: left !important;
}
.dropdown-toggle::after{
    margin-left: -0.745em !important;
    visibility: hidden !important;
}
.dropdown-menu{
    font-size: 45px !important;
    margin-left: 3299px !important;
    margin-top: -4px !important;
    width: 702px !important;
}
.fa-angle-down{
    margin-left: 199px;
}