body{
    background-color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: black;
    font-family: "Oswald", sans-serif;
}
.header-background{
    background-image: url('product-img/breadcrumb-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 590px;
}
h1{
    position: absolute;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 177px !important;
    margin-top: 88px !important;
    margin-left: 2840px;
}
h2{
    position: absolute;
    font-family: "Quiksand", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 49px !important;
    margin-top: 299px !important;
    margin-left: 2846px;
    letter-spacing: 4px;
}
h2 button{
    color: palevioletred;
    font-family: "Quiksand", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 49px;
    border: transparent;
    text-decoration: underline;
    cursor: pointer;
}
#navbar2{
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
}
#nav-link-text{
    position: absolute;
    margin-top: 16px !important;
    margin-left: 40px;
}
.fa-bars{
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 26px;
    font-size: 50px;
}
.dropdown-toggle{
    position: absolute !important;
    margin-left: 3301px !important;
    margin-top: 12px !important;
    border: 1px solid #88888881 !important;
    color: #888888b6 !important;
    padding: 15px 156px !important;
    text-align: left !important;
}
.dropdown-toggle::after{
    margin-left: -0.745em !important;
    visibility: hidden !important;
}
.dropdown-menu{
    font-size: 45px !important;
    margin-left: 3299px !important;
    margin-top: -4px !important;
    width: 702px !important;
}
.fa-angle-down{
    margin-left: 199px;
}